html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


html {
    position: relative;
    min-height: 100%;
}

body {
    background-image: url('/image/picturis.png'); /* Заменете с пътя към вашето изображение */
    background-size: cover; /* Покрива целия фон */
    background-position: center; /* Центрира изображението */
    height: 100vh; /* Задава височината на фона */
    margin: 0; /* Премахва отстъпа */
}


table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: center; /* Центрира заглавията */
}

td {
    text-align: left; /* Низовете наляво */
}

.numeric {
    text-align: right; /* Числата вдясно */
}

.credit {
    color: red; /* Червен цвят за кредита */
}
.input-group {
    align-items: center; /* Подравнява елементите по вертикала */
}

.form-container {
    border: 1px solid #ccc; /* Цвят и стил на рамката */
    padding: 20px; /* Разстояние вътре в рамката */
    width: 90%; /* Ширина на контейнера */
    margin: 0 auto; /* Центриране на контейнера на екрана */
    border-radius: 5px; /* Закръглени ъгли (по избор) */
    background-color: skyblue; /* Фонов цвят (по избор) */
}

