html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    background-image: url('/image/picturis.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding-bottom: 60px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: center;
}

td {
    text-align: left;
}

.numeric {
    text-align: right;
}

.credit {
    color: red;
}

.input-group {
    align-items: center;
}

.form-container {
    border: 1px solid #ccc;
    padding: 20px;
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
    background-color: skyblue;
}
